{% extends "main/base.html" %}

{% load crispy_forms_tags %}

{% block content %}
    <body>
        <div class="container bg-light shadow-md p-5 form-layout">

            <h3>Add Task here</h3>

            <h6>Fill in the required details for your tasks</h6>

        

            <hr>
            <br>

            <form method="POST" autocomplete="off">
                {% csrf_token %}
                {{form | crispy}}

                <br>
                <button type="submit" class="btn btn-primary w-100 btn-block p-2 ">Add Task</button>

            </form>
        </div>
    </body>
    
{% endblock content %}