 {% extends "main/base.html" %}

 {% load crispy_forms_tags %}

 {% block content %}

    <div class="card">
        <strong>
            <p>Update your task {{user}}</p>
        </strong>
        <div class="card-body">
            <p> <strong>ID: </strong>{{task.id}}</p> 

            <p> <strong>Title: </strong>{{task.title}}</p> 

            <p> <strong>Completed: </strong>{{task.completed|yesno:'Yes,No'}}</p> 
            <p> <strong>Date created: </strong>{{task.created}}</p> 

        </div>
    </div>
    <br>
    <a href="{% url 'main:dashboard' %}" class="btn btn-secondary">Return</a>

    &nbsp; 

    <a href="{% url 'main:update-record'%}">Update Task</a>

    &nbsp;

    <a href=""></a>


 
 {% endblock content %}